# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
**/node_modules/

# builds
build/
dist/
.next/
.expo/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/

# Docker
*.pid

# coverage
coverage/
*.lcov

# cache
.cache/
.tmp/

